body{
  background: rgb(34,193,195);
background: linear-gradient(74deg, rgba(34,193,195,1) 0%, rgba(253,233,45,0.6558998599439776) 100%);
  color: white;
}
header{
  color: blue;
  background-color: bisque;
height: 100px;

}
p{
  color: blue;
  font-size: 18px;
  text-align:justify;
}
ol{
  width: 150px;
  background-color: blanchedalmond;
  padding: 14px;
}
ul{
  width: 200px;
  height: 300px;
  background-color: orange;
  margin-top: 50px;
  border-radius: 25px;
  border-style: dotted;
  border-color: blue;  
}

#pespecial{
    font-size: 48px;
    color: rgb(0, 255, 0);
    background-color: beige;
    padding: 5px;
}
#titulo1{
  background-color: black;
  color: white;
  padding: 7px;
}

.boton{
 border-radius: 15px;
 background-color: black;
 margin: 10px;
 padding: 7px; 
}

.boton:hover{
  color:white;
background-color: yellow;
}
.caja1{
  background-color: greenyellow;
  margin: 15px;
  padding: 25px;
  width: 300px;
}
.fila{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.columnright{
  position:relative;
  top:-400px;
  left: 400px;
  width: 200px;
  padding: 15px;
  background-color: black;
}
.columnright2{
  position:absolute;
  top:130px;
  left: 650px;
  width: 200px;
  padding: 15px;
  background-color: rgb(188, 43, 43);
}
.foto{
  width: 100%;
}